<div style="background-color:black">

    <div
        style="background-image: url(assets/img/bg.jpg);padding-bottom:300px;background-size:100%;height:100%;background-repeat: no-repeat;background-position: center;height:max-content;">
        <img>
        <h1
            class="text-center m-auto display-1 font-weight-bold align-items-center align-self-center align-middle pb-3 mt-5 bg-white">
            <strong>One page wonder</strong>
        </h1>
        <h2
            class="text-center m-auto display-5 font-weight-bold align-items-center align-self-center align-middle pb-3 mt-5 bg-white">
            <strong>Will knock your socks off</strong>
            
        </h2>
    </div>
</div>